@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
} 
/* New Year Part  */
.dev
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
   
}
.grp
{
    max-width: 174px;
    max-height: 229px;
    align-self: center;
    margin: 26px 0px;
}
.hd
{
    font-size: 48px;
    font-weight: 800px;
    color: rgb(13, 19, 33);
    line-height: 68px;
    width: 998px;
    text-align: center;
    margin: 24px 0px;
}
.small_font
{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
    width: 852px;
    text-align: center;
}
#group
{
    background-image: url(../assets/Hero-bg.png);
    /* bottom: 4462px; */
}
.btn
{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin: 32px 0px;
    padding: 21px 24px 21px 24px;
    color: white;
    width: 208px;
    height: 66px;
}
/* why development part */

.bg .bg-two >.w-dev
{
    width: 946px;
    height: 1072px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 48px 0px;
}
.w-dev .content
{
    display: flex;
    justify-content: space-between;
    gap: 99px;
    width: 850px;
    height: 240px;
    align-items: center;
    margin: 32px 0px;
    
}
.title
{
    background-color: ;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.btn
{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
}
.bg
{
    width: 1650px;
    height: 1300px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    /* align-items: center; */

}
.content .description
{
    background-color: rgb(255, 255, 255);
    border: none;
    
     
}
.w-dev .heading
{
    
    width: 946px;
    height: 1235px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;


    margin: 0px 10px;
}
.bg-two
{
    width: 946px;
    height: 1235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px 10px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.video
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1740px;
    height: 775px;
    left: 148px;
    right: 152px;
    top: 2340px;
    bottom: 2130px;
    align-items: center;
    gap: 48px;
}
.v-con
{
  
    /* width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 48px 0px;*/
    text-align: center;
    margin-top: 48px 0px;
    /* padding-bottom: 20px; */
} 
.v-heading
{
    color: rgb(13, 19, 33);
    /* padding: 32px; */
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.v-box
{
    border: 1px solid rgba(13, 19, 33, 0.2);
    box-sizing: border-box;
    margin: 48px;
    width: 1140px;
    height: 614px;
    border-radius: 16px;
}
iframe
{
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    margin: 30px;
}